.BR-archive {
    text-align: center;
}
.BR-archive img {
    max-width: 300px;
}
.BR-archive ul {
list-style-type: none;
padding: 0;
}
.BR-archive ul li {
margin-bottom: 0.5rem;
}
.BR-archive a {
text-decoration: none;
}
.BR-archive a:hover {
color: rgb(18, 18, 18);
text-decoration: underline;
text-underline-offset: 3px;
text-decoration-thickness: 1px;
}